@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  color: var(--very-dark-desaturated-blue);
}

body {
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-color: var(--dark-cyan);
  background-repeat: no-repeat, no-repeat;
  background-position: left -29.3rem top -27rem, right -39rem bottom -29.2rem;
  background-size: 50rem, 60rem;
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  width: 32.6rem;
  margin: 14.7rem auto;
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 3rem 5rem 2rem rgba(0, 0, 0, 0.1);
}

.profile-heading {
  position: relative;
  width: 100%;
  height: 15rem;
  background: url("../images/bg-pattern-card.svg") no-repeat;
  background-position: center top;
}

.photo-profile {
  position: absolute;
  overflow: hidden;
  border-radius: 6rem;
  width: 100%;
  max-width: 10.55rem;
  top: 8.7rem;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid #fff;
}

.photo {
  display: block;
  width: 100%;
  height: auto;
}

.profile-content {
  margin: 0 auto;
  margin-top: 6.2rem;
  margin-bottom: 2.2rem;
}

.profile-age,
.profile-country,
.counter-label {
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.profile-content h1 {
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

.profile-content span {
  margin-left: 0.5rem;
  font-weight: 400;
}

.profile-country {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.profile-counter {
  display: flex;
  align-items: center;
  border-top: 0.01rem solid rgba(0, 0, 0, 0.1);
  padding-top: 2.4rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  padding-bottom: 2.5rem;
}

.profile-item:nth-child(2) {
  margin-left: 3.7rem;
  margin-right: 4.5rem;
}

.counter-heading {
  font-size: 1.97rem;
}

.counter-label {
  font-size: 0.95rem;
  letter-spacing: 2px;
  margin-top: 0.45rem;
}

@media screen and (min-width: 800px) {
  body {
    background-size: 100rem, 100rem;
    background-position: left -35.1rem top -52.7rem, right -29rem bottom -65.5rem;
  }

  .card {
    width: 35rem;
    margin: 17.3rem auto;
  }

  .profile-content {
    margin-top: 6.2rem;
    margin-bottom: 2.3rem;
  }

  .profile-counter {
    padding-left: 4.83rem;
  }

  .profile-item:nth-child(2) {
    margin-left: 4.6rem;
    margin-right: 5.4rem;
  }

  .counter-heading {
    font-size: 1.9rem;
  }
}
